@import 'bootstrap3';
@import 'login';


.logo-navbar-brand {
  background: transparent url('../img/logo-navbar-brand.png') no-repeat center left;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 160px;
}
