{% extends 'base.html' %}
{% load staticfiles %}

{% block body %}
<div id="application-container"></div>
{% endblock body %}

{% block javascripts %}
{{ block.super }}
<script src="{% static 'build/app.js' %}"></script>
{% endblock javascripts %}
