<!doctype html>
<html class="no-js" lang="en-US">
{% load staticfiles %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}Muse Genomics{% endblock title %}</title>
    <meta name="description" content="Muse Genomics">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    {% block stylesheets %}
    <link rel="stylesheet" href="{% static 'build/styles.css' %}">
    {% endblock stylesheets %}
  </head>
  <body class="{% block body_class %}{% endblock body_class %}">
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    {% block body %}
    {% endblock body %}

    {% block javascripts %}
    {% endblock javascripts %}

    {% block analytics_js %}
    <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
    <script>
        window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
        ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script>
    {% endblock analytics_js %}
  </body>
</html>
