{% extends 'base.html' %}

{% block body_class %}{{ block.super }} landing{% endblock body_class %}

{% block body %}
<h1>Jumbotron</h1>
<a href="{% url 'social:begin' 'google-oauth2' %}">Sign in with Google</a>
{% endblock body %}

{% block javascripts %}
{{ block.super }}
{% endblock javascripts %}
