{% extends 'base.html' %}

{% block title %}Login - {{ block.super }}{% endblock title %}

{% block body_class %}{{ block.super }} form-login{% endblock body_class %}

{% block body %}
<form class="form-login" method="post" action="{% url 'login' %}">
  {% csrf_token %}
  <h2 class="form-login-heading">Please sign in</h2>
  <label for="id_username" class="sr-only">Email address</label>
  <input name="username" id="id_username" class="form-control" placeholder="Username" required autofocus type="text">
  <label for="id_password" class="sr-only">Password</label>
  <input name="password" id="id_password" class="form-control" placeholder="Password" required type="password">
  <div class="checkbox">
    <label><input value="remember-me" type="checkbox"> Remember me</label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>
{% endblock body %}

{% block javascripts %}
{{ block.super }}
{% endblock javascripts %}
